{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <!-- Welcome text -->
  <section>
    Добро пожаловать на сборник конспектов {{ title }}!
    Здесь будут публиковаться разного рода конспекты по Алгоритмам и Структурам данных
  </section>
{% endblock %}
